<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You are in home</h1>
    <form action="/generate-url" method="post">
        <input type="text" placeholder="Place the url here" name="url">
        <button type="submit">Shorten Url</button>
    </form>
    <p><%=urlData%></p>
</body>
</html>